@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
}

@theme {
  --font-lato: var(--font-lato);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-base-black: #121212;
  --color-secondary-black: #171717;
  --color-primary-accent: #006239;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #e4e4e7;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
